TELEGRAM_TOKEN=
TELEGRAM_2_TOKEN=
CHAT_ID=
CHANNEL_ID=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PROD_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
ALERT_ZONE=D1
# Hysteresis deadband in metres around river thresholds (anti-flapping). Default 0.05.
RIVER_THRESHOLD_MARGIN=0.05
